# Base de datos
DATABASE_URL=sqlite:///./test.db
# DATABASE_URL=postgresql://user:password@localhost/ecolink

# JWT
SECRET_KEY=your_super_secret_key_change_this_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# FastAPI
DEBUG=True
API_HOST=0.0.0.0
API_PORT=8000

# Frontend
FRONTEND_URL=http://localhost:3000
